
@{
    ViewData["Title"] = "ToniBuc Portfolio";
}

<div id="wrapper">
    <div class="article">
        <div id="text1">
            <p>eDentalist is an ASP.NET Core desktop & mobile application for operating a private dental office.</p>
        </div>
        <div id="icon1">
            <a href="https://github.com/ToniBuc/eDentalist" target="_blank" class="bigIcon"><i class="fas fa-tooth"></i></a>
            <p>eDentalist</p>
            <a href="https://github.com/ToniBuc/eDentalist" target="_blank" class="smallIcon"><i class="devicon-github-original"></i></a>
        </div>
    </div>
    <div class="line"></div>
    <div class="article">
        <div id="text2">
            <p>PeripheralTech is an ASP.NET Core desktop & mobile application for supporting the work of a store that offers ordering & customization of peripheral devices.</p>
        </div>
        <div id="icon2">
            <a href="https://github.com/ToniBuc/PeripheralTech" target="_blank" class="bigIcon"><i class="far fa-keyboard"></i></a>
            <p style="margin-left:257px;">PeripheralTech</p>
            <a href="https://github.com/ToniBuc/PeripheralTech" target="_blank" class="smallIcon"><i class="devicon-github-original"></i></a>
        </div>
    </div>
    <div class="line"></div>
    <div class="article">
        <div id="text1">
            <p>TB Music Bot is a Discord music bot made using the Discord4J and LavaPlayer libraries.</p>
        </div>
        <div id="icon1">
            <a href="https://github.com/ToniBuc/TBMusicBot" target="_blank" class="bigIcon"><i class="fas fa-music"></i></a>
            <p>TB Music Bot</p>
            <a href="https://github.com/ToniBuc/TBMusicBot" target="_blank" class="smallIcon"><i class="devicon-github-original"></i></a>
        </div>
    </div>
    <div class="line"></div>
    <div class="article">
        <div id="text2">
            <p>MyEntertainmentHub is an IMDb inspired web application that serves as a database of information about different kinds of entertainment media.</p>
        </div>
        <div id="icon2">
            <a class="bigIcon"><i class="fas fa-film"></i></a>
            <p>MyEntertainmentHub</p>
            <a class="smallIcon"><i class="devicon-github-original"></i></a>
        </div>
    </div>
    <div class="line"></div>
    <div class="article">
        <div id="text1">
            <p>My portfolio.</p>
        </div>
        <div id="icon1">
            <a href="https://github.com/ToniBuc/ToniBuc-Portfolio" target="_blank" class="bigIcon"><i class="far fa-user"></i></a>
            <p style="margin-left: 304px;">Portfolio</p>
            <a href="https://github.com/ToniBuc/ToniBuc-Portfolio" target="_blank" class="smallIcon"><i class="devicon-github-original"></i></a>
        </div>
    </div>
</div>
<style>
    #wrapper {
        width:100%;
        height:100%;
    }
    .line {
        margin: 25px 0;
        height: 1px;
        background: #1e1d1d;
        background: -webkit-gradient(linear, 0 0, 100% 0, from(#1e1d1d), to(#1e1d1d), color-stop(50%, white), color-stop(50%, white));
        box-shadow: 10px 10px 12px black;
    }
    .article {
        height: 490px;
        width: 100%;
        /*border-image: radial-gradient(circle at center, rgba(255,255,255,0.90), rgba(128, 128, 128, 0.005)) 1;*/
    }
    #text1 {
        float: left;
        width: 50%;
        margin-top: 70px;
    }
        #text1 p {
            margin: auto;
            text-shadow: 8px 8px 4px black;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size:20px;
            font-style:italic;
            padding-top:120px;
            margin-left:100px;
        }
    #icon1 {
        float: right;
        width: 50%;
        margin-top: 70px;
    }
    .smallIcon {
        color: white;
        text-shadow: 10px 10px 17px black;
        font-size: 30px;
        text-decoration: none;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        text-shadow: 8px 8px 4px black;
    }
    .smallIcon:hover{
        color:white;
    }
    .bigIcon {
        color: white;
        text-shadow: 10px 10px 17px black;
        font-size: 320px;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 100px;
    }
    .bigIcon:hover {
        color:white;
    }
    #icon1 p {
        color: white;
        font-size: 30px;
        text-decoration: none;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin-top: 35px;
        text-shadow: 8px 8px 4px black;
        margin-left: 290px;
    }
    #icon2 {
        float: left;
        width: 50%;
        margin-top: 70px;
    }
        /*#icon2 a {
            color: white;
            text-shadow: 10px 10px 17px black;
            font-size: 320px;
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
        }*/

        #icon2 p {
            color: white;
            font-size: 30px;
            text-decoration: none;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            margin-top: 10px;
            text-shadow: 8px 8px 4px black;
            margin-left:215px;
        }
    #text2 {
        float: right;
        width: 50%;
        margin-top: 70px;
    }

        #text2 p {
            margin: auto;
            text-shadow: 8px 8px 4px black;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;
            font-style: italic;
            padding-top: 120px;
            margin-right: 80px;
            margin-left:20px;
        }
</style>